<%- include('header') %>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12" style="align-content: center;">
            <br />
            <button data-toggle="modal" data-target="#addModal" class="btn btn-info">Add New Student</button>
            <Br />
            <h4 class="text-center">Student Information</h4>
            <table style="overflow-y: scroll; height: 100px !important;"  class="table table-dark table-hover table-striped table-bordered mt-3">
                <tr>
                    <th>S.No.</th>
                    <th>Full Name</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Fee</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <%  result.forEach(function(x, n){ %>
                    <tr>
                        <td><%= n+1 %></td>
                        <td><%= x.full_name %></td>
                        <td><%= x.stu_class %></td>
                        <td><%= x.subject %></td>
                        <td><%= x.fee %></td>
                        <td><a href="/student/edit/<%= x._id %>" class="btn btn-info btn-sm">Edit</a></td>
                        <td><a href="/student/delete/<%= x._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>


    
</div>


<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/student" method="post">
            <div class="modal-header">
                <h2>Add New Student</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Full Name</label>
                    <input name="full_name" type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="">Class</label>
                    <select name="stu_class" class="form-control">
                        <option>Select</option>
                        <% for(var i=1; i<=12; i++){ %>
                            <option><%= i %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <select name="subject" class="form-control">
                        <option>Select</option>
                        <option>All</option>
                        <option>PCB</option>
                        <option>PCM</option>
                        <option>Commorce</option>
                        <option>Arts</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Fee</label>
                    <input type="text"  name="fee" class="form-control" />
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-success">Add</button>
                <button type="button" data-dismiss="modal"  class="btn btn-danger">Close</button>
            </div>
        </div>
    </form>
    </div>
</div>

<%- include('footer') %>