<%- include('header') %>
<div class="container my-5">
    <div class="row">
        <Br />
        <Br />
        <div class="col-md-10 offset-md-1">
            <a href="/teacher/add" class="btn btn-primary">Add Teacher</a>
            <h2 class="text-center">
                All Teacher List
            </h2>            
            <table class="table table-dark table-hover table-bordered mt-5">
                <tr>
                    <th>S.No.</th>
                    <th>Full Name</th>
                    <th>Education</th>
                    <th>More Info</th>
                </tr>
                <% result.forEach(function(x, n){ %>

                    <tr>
                        <td><%= n+1 %></td>
                        <td><%= x.full_name %></td>
                        <td><%= x.edu %></td>
                        <td><a href="/teacher/view/<%= x._id %>" class="btn btn-sm btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                    </tr>


                <% }) %>



            </table>
        </div>
        
    </div>
</div>
<%- include('footer') %>