<%- include('header') %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card my-5">
                <form action="/contact/update/<%= result._id %>" method="post">
                <div class="card-header text-center">
                    <h3>Edit Details</h3>
                </div>
                <div class="card-body p-0">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="s_name" value="<%= result.s_name %>" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <select name="s_edu" class="form-control">
                            <option>select</option>
                        <% for(var i=1; i<=12; i++){ %>
                            <option <% if(result.s_edu == i){ %> selected  <%}%>>   <%= i %>   </option>
                        <% } %>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <select name="s_sub" class="form-control">
                            <option>select</option>
                            <option <% if(result.s_sub == 'All'){ %>  selected     <%}%> >All</option>
                            <option <% if(result.s_sub == 'PCB'){ %>  selected     <%}%> >PCB</option>
                            <option <% if(result.s_sub == 'PCM'){ %>  selected     <%}%> >PCM</option>
                            <option <% if(result.s_sub == 'Commerce'){ %>  selected     <%}%> >Commerce</option>
                            <option <% if(result.s_sub == 'Art'){ %>  selected     <%}%> >Art</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cast</label></br>
                        General &nbsp;&nbsp;<input name="cast" value="General" type="checkbox" <%= result.cast == 'General' ? 'checked' : '' %> />&nbsp;&nbsp;&nbsp;&nbsp;
                        OBC&nbsp;&nbsp;<input name="cast" value="OBC" type="checkbox" <%= result.cast == 'OBC' ? 'checked' : '' %>/>&nbsp;&nbsp;&nbsp;&nbsp;
                        SC&nbsp;&nbsp;<input name="cast" value="SC" type="checkbox" <%= result.cast == 'SC' ? 'checked' : '' %>/>
     
                    </div>
                    <div class="form-group">
                        <label>Fees</label>
                        <input type="text" name="fees" class="form-control" value="<%= result.fees %>"/>
                    </div>
                    
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success" type="submit">Update</button>
                    
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<%- include('footer') %>