<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
        </br>
    </br>
</br>
<h1 class="text-center m-0 p-0">Contact For Any Inquiries</h1>
<p class=" text-center m-0">click request button</p>
<div class="container text-center mb-5">
<a href="/contact" class="btn btn-info">Back </a>
</div>
<div class="card">
    <div class="card-header text-center">
        <h3><b>Request List</b></h3>
    </div>
    <div class="card-body">
         <p><b>Full Name :</b>   <%= result.f_name %></p>
         <p><b>Gender :</b>    <%= result.gender %></p>
         <p><b>Email :</b>   <%= result.email %></p>
         <p><b>Contact No. :</b>   <%= result.contact %></p>
         <p><b>City :</b>   <%= result.city %></p>
         <p><b>Address :</b>   <%= result.address %></p>
    </div>
</div>
</div>
</div>
</div>


<%- include('footer') %>